<h1>Thêm Mới</h1>
<form action="/add" method="post">
    <table border="1">
        <tr>
            <th>LABLE</th>
            <th>VALUE</th>
        </tr>
        <tr>
            <td>Role:</td>
            <td><input type="text" name="role"></td>
        </tr>
        <tr>
            <td>Open Hour:</td>
            <td><input type="number" name="open"></td>
        </tr>
        <tr>
            <td>Default Account:</td>
            <td><input type="number" name="daccount"></td>
        </tr>
        <tr>
            <td>Bank Name:</td>
            <td><input type="text" name="bname"></td>
        </tr>
        <tr>
            <td>Branch Name:</td>
            <td><input type="text" name="brName"></td>
        </tr>

    </table>


    <!-- EnableFCM: <input type="number" name="enable"><br>
    Avarta: <input type="text" name="avarta"><br>
    Banner: <input type="text" name="banner"><br>
    Full name: <input type="text" name="fname"><br>
    Type User: <input type="number" name="type"><br> -->

    <button type="submit">Thêm</button>
</form>